/* ProjectCard.css */

.project-card {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 2rem;
    margin-bottom: 2rem;
    gap: 2rem;
    width: 100%; /* Ensures the card does not exceed its container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
  }
  
  .project-card .project-description,
  .project-card .project-image-container {
    flex: 1;
  }
  
  .project-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    max-height: 300px;
  }
  
  .project-card .project-description {
    padding-right: 2rem;
  }
  
  .project-description h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
  }
  
  .project-description p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
    line-height: 1.6;
  }
  
  /* Responsive design for smaller screens */
  @media (max-width: 768px) {
    .project-card {
      flex-direction: column;
      padding: 2rem;
    }
  
    .project-card .project-description,
    .project-card .project-image-container {
      padding: 0;
      width: 100%;
      text-align: center;
    }
  
    .project-card img {
      max-width: 80%;
      margin: auto;
      max-height: unset;
    }
  
    .project-card .project-description {
      margin-bottom: 2rem;
    }
  }